# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ Python 
+ R 
+ SQL 
+ JAVA

Some of the popular languages that Data Scientists use are: 
Ordered List 
1. Python 
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

- NumPy 
-  Pandas 
- TensorFlow


|Data Science Tool|
|-----------------|
|_________________|
|_________________|
|_________________|

### Below are a few examples of evluating arithmetic expressions in Python ###

This is a simple arithmetic expression to multiply then add integers

In [1]:
(3*4)+5

17

 This will covert 200 minutes to hours by diving by 60

In [3]:
200 / 60

3.3333333333333335

## Author: Shirley Choe ##